<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PUMPlogin</display-name>
    <servlet-name>PUMPlogin</servlet-name>
    <servlet-class>PUMPlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PUMPlogin</servlet-name>
    <url-pattern>/PUMPlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserResister</display-name>
    <servlet-name>UserResister</servlet-name>
    <servlet-class>UserResister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserResister</servlet-name>
    <url-pattern>/UserResister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PumpRegister</display-name>
    <servlet-name>PumpRegister</servlet-name>
    <servlet-class>PumpRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PumpRegister</servlet-name>
    <url-pattern>/PumpRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UBooking</display-name>
    <servlet-name>UBooking</servlet-name>
    <servlet-class>UBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UBooking</servlet-name>
    <url-pattern>/UBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCNG</display-name>
    <servlet-name>UpdateCNG</servlet-name>
    <servlet-class>UpdateCNG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCNG</servlet-name>
    <url-pattern>/UpdateCNG</url-pattern>
  </servlet-mapping>
</web-app>